:root {
  --main-color: hsl(0, 0%, 13%);
  --secondary-color: hsl(0, 3%, 23%);
  --waymo-white: white;
  --waymo-green: #6ae4a3;
  --waymo-blue: #2f78f7;
  --waymo-grey: #959a9f;
  --waymo-dark-navy: #23233a;
  --verily-white: white;
  --verily-gray: #5f7c8a;
  --verily-light-gray: #d0d7dd;
  --verily-blue: #2879fe;
  --verily-pink: #c41162;
  --verily-light-pink: #f9e6ef;
  --verily-red: #ff1643;
  --verily-purple: #7423df;
}

*:not(div) {
  background: var(--main-color);
  color: whitesmoke;
  font-family: avenir, arial;
  padding: 10px;
  transition: 0.2s;
}

html {
  scroll-behavior: smooth;
  padding: 0;
}

body {
  padding: 0;
}

body,
main,
section#main,
h1 {
  background: transparent;
}

section#main {
  height: 100vh;
}

button {
  border-radius: 10px;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  font-size: 16px;
}

button:hover,
button:focus,
a:hover,
a:focus {
  background: lime;
  color: black;
  text-decoration: underline;
  outline: 0;
  box-shadow: 0 0 0 2pt white;
}

button:focus,
a:focus {
  box-shadow: 0 0 0 4pt white;
}

button {
  position: relative;
}

button > svg {
  position: absolute;
  left: -75px;
  top: -100px;
  background: transparent;
  pointer-events: none;
  height: 200px;
  width: 200px;
  z-index: -1;
  transform: scale(0);
}

button > svg > path {
  fill: #a7f0ba;
}

button:hover > svg,
button:focus > svg {
  animation: bouncy-growth 2s forwards;
}

.center {
  text-align: center;
}

.shake:hover {
  animation: wobble 0.5s;
  animation-iteration-count: 1;
}

@media only screen and (max-device-width: 640px) {
  button {
    min-width: 48px;
    min-height: 48px;
    margin: 10px;
  }
}

div,
img,
p {
  background: rgba(0, 0, 0, 0);
  display: block;
}

#flying-focus-ring-element {
  position: absolute;
  background: transparent;
  /* -webkit-transition-property: left, top, width, height; */
  transition-property: left, top, width, height;
  /* -webkit-transition-timing-function: cubic-bezier(0,1,0,1); */
  transition-timing-function: cubic-bezier(0, 1, 0, 1);
  visibility: hidden;
  pointer-events: none;
  box-shadow: 0 0 2px 3px lightblue, 0 0 2px lightblue inset;
  border-radius: 2px;
}
#flying-focus-ring-element.flying-focus_visible {
  visibility: visible;
  z-index: 9999;
}
@media (prefers-reduced-motion) {
  #flying-focus-ring-element {
    display: none;
  }
}

@keyframes bouncy-growth {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(2);
  }
  20%,
  90% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}

.collapsible {
  animation: expand 0.3s forwards;
  /* transition-delay: 1s; */
}

.collapsible.collapse {
  animation: collapse 0.3s forwards;
  /* overflow: hidden; */
}

@keyframes collapse {
  from {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    max-height: 100%;
    height: 100%;
  }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    max-height: 0;
    height: 0;
  }
}

@keyframes expand {
  from {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    max-height: 0;
    height: 0;
  }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    max-height: 100%;
    height: 100%;
  }
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 1rem;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 1rem;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 1rem;
}

.m-0 {
  margin: 0;
}
.m-1 {
  margin: 1rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 1rem;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}

.d-none {
  display: none;
}
.d-flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.justify-center {
  justify-content: center;
}
.text-center {
  text-align: center;
}

.transparent-background {
  background: transparent;
}

.white-text-outline {
  --w: 0.5px; /* text outline width */
  --c: white; /* text outline color */
  /* simulated text outline: */
  text-shadow: var(--w) var(--w) 0 var(--c),
    calc(-1 * var(--w)) calc(-1 * var(--w)) 0 var(--c),
    var(--w) calc(-1 * var(--w)) 0 var(--c),
    calc(-1 * var(--w)) var(--w) 0 var(--c), 0 var(--w) 0 var(--c),
    0 calc(-1 * var(--w)) 0 var(--c), var(--w) 0 0 var(--c),
    calc(-1 * var(--w)) 0 0 var(--c);
}
.black-text-outline {
  --w: 1px; /* text outline width */
  --c: black; /* text outline color */
  /* simulated text outline: */
  text-shadow: var(--w) var(--w) 0 var(--c),
    calc(-1 * var(--w)) calc(-1 * var(--w)) 0 var(--c),
    var(--w) calc(-1 * var(--w)) 0 var(--c),
    calc(-1 * var(--w)) var(--w) 0 var(--c), 0 var(--w) 0 var(--c),
    0 calc(-1 * var(--w)) 0 var(--c), var(--w) 0 0 var(--c),
    calc(-1 * var(--w)) 0 0 var(--c);
}

.black-background {
  background: black !important;
}
.white-background {
  background: white !important;
}
.yellow-background {
  background: yellow !important;
}

.black-text {
  color: black !important;
}
.white-text {
  color: white !important;
}

.waymo-white-background {
  background: var(--waymo-white) !important;
}
.waymo-green-background {
  background: var(--waymo-green) !important;
}
.waymo-blue-background {
  background: var(--waymo-blue) !important;
}
.waymo-grey-background {
  background: var(--waymo-grey) !important;
}
.waymo-dark-navy-background {
  background: var(--waymo-dark-navy) !important;
}

.waymo-white-text {
  color: var(--waymo-white) !important;
}
.waymo-green-text {
  color: var(--waymo-green) !important;
}
.waymo-blue-text {
  color: var(--waymo-blue) !important;
}
.waymo-grey-text {
  color: var(--waymo-grey) !important;
}
.waymo-dark-navy-text {
  color: var(--waymo-dark-navy) !important;
}

.verily-white-background {
  background: var(--verily-white) !important;
}
.verily-gray-background {
  background: var(--verily-gray) !important;
}
.verily-blue-background {
  background: var(--verily-blue) !important;
}
.verily-purple-background {
  background: var(--verily-purple) !important;
}
.verily-red-background {
  background: var(--verily-red) !important;
}
.verily-pink-background {
  background: var(--verily-pink) !important;
}

.verily-white-text {
  color: var(--verily-white) !important;
}
.verily-gray-text {
  color: var(--verily-gray) !important;
}
.verily-blue-text {
  color: var(--verily-blue) !important;
}
.verily-purple-text {
  color: var(--verily-purple) !important;
}
.verily-red-text {
  color: var(--verily-red) !important;
}
.verily-pink-text {
  color: var(--verily-pink) !important;
}

.waymo-blue-to-green {
  background: var(--waymo-blue) !important;
  background: linear-gradient(
    to right,
    var(--waymo-blue),
    var(--waymo-green)
  ) !important;
}

.verily-red-to-blue {
  background: var(--verily-pink) !important;
  background: linear-gradient(
    to right,
    var(--verily-red),
    var(--verily-blue)
  ) !important;
}

.collapse.deferred #waymo-demo,
.collapse.deferred #verily-demo {
  height: 0;
  max-height: 0;
  overflow: hidden;
}

#waymo,
#verily {
  font-size: 1.1rem;
  font-family: arial;
}

#waymo-demo p {
  background: transparent;
  color: var(--waymo-blue);
}

#verily-demo p {
  background: transparent;
  color: var(--verily-purple);
}

#waymo-demo-main-content,
#verily-demo-main-content {
  margin: auto;
  width: min(max-content, 100%);
}

.waymo-demo-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

#waymo-demo,
#verily-demo {
  isolation: isolate;
}

#waymo-demo > h2:first-of-type,
#verily-demo > h2:first-of-type {
  position: sticky;
  top: 0;
  z-index: 1;
}

#waymo-demo h2,
#waymo-demo h3 {
  width: 100%;
  text-align: center;
}

.slice:focus {
  outline: none;
}

.slice:focus path {
  fill: black;
  /* color: white; won't work inside SVG */
}

.slice:focus text {
  fill: white;
  /* color: white; won't work inside SVG */
}

.circle-before-chart-label:before {
  content: "⦿";
}
.square-before-chart-label:before {
  content: "◼";
}
.triangle-before-chart-label:before {
  content: "▲";
}

[class*="-before-chart-label"] {
  cursor: pointer;
}

[class*="-before-chart-label"]:before {
  mix-blend-mode: difference;
}

/* scoping these styles to a component won't work: */
.showWaymoDemo .animated-text,
.showWaymoDemo [class*="-before-chart-label"],
.showWaymoDemo [class*="moving"] {
  animation-play-state: running !important;
}
.showWaymoDemo .animated-text,
.showWaymoDemo [class*="-before-chart-label"] {
  animation: animated-text 0.5s forwards;
}
/* scoping these styles to a component won't work: */
@keyframes animated-text {
  from {
    clip-path: polygon(0 0, 0 0, 0 0, 0 0);
  }
  to {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}

[class*="-before-chart-label"]:hover,
[class*="-before-chart-label"]:focus {
  transform: scale(1.1);
}

/* scoping these styles to a component won't work: */
#verily-demo-main-content fieldset {
  transition-property: transform;
  transition-duration: 0.2s;
  transform: scale(0);
  transform-origin: top left;
}
.showVerilyDemo fieldset {
  --delay: 0.1s;
  transform: scale(1) !important;
}
.showVerilyDemo fieldset:nth-child(2) {
  transition-delay: calc(var(--delay) * 1);
}
.showVerilyDemo fieldset:nth-child(3) {
  transition-delay: calc(var(--delay) * 2);
}
.showVerilyDemo fieldset:nth-child(4) {
  transition-delay: calc(var(--delay) * 3);
}
.showVerilyDemo fieldset:nth-child(5) {
  transition-delay: calc(var(--delay) * 4);
}
.showVerilyDemo fieldset:nth-child(6) {
  transition-delay: calc(var(--delay) * 5);
}

.demo {
  transition: background-image 1s;
}

#threejs-scene-container canvas {
  padding: 0;
  background: transparent;
}
